<div class="container vh-100">
  <div class="my-4">
    <h1>Uniqorns</h1>
  </div>

  <div class="cards mb-5">
    <% @uniqorns.each do |uniqorn| %>
      <%= link_to () do %>
        <div class="card-trip rounded-3">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuZIvadmq4OEXE0kFfQvXE694-kCfr45OW6w&s"
          />
          <div class="card-trip-infos">
            <div>
              <h2><%= uniqorn.name %></h2>
              <div class="d-flex">
                <p class="fs-5 pe-2">Age:
                  <%= uniqorn.age %>
                </p>
                <p class="fs-5 px-2">•</p>
                <p class="fs-5 pe-2">Speed:
                  <%= uniqorn.speed %></p>
              </div>
            </div>
            <div>
              <h2 class="card-trip-pricing"><%= uniqorn.price_per_day %></h2>
              <p class="fs-5">Per day</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <% if user_signed_in? %>
    <%= link_to "List your Uniqorn", new_uniqorn_path, class: "form-actions btn btn-lg custom-button" %>
<% end %>
