<div class="container d-flex flex-column vh-100 align-items-center">

  <div class="pt-3 py-3 h-50 w-75">
    <div class="w-100 align-items-start d-flex" style="border: solid 1px #aedbf0;">
      <img
        class="w-100"
        src="https://images.unsplash.com/photo-1646692851761-e2bec84312f7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fHVuaWNvcm5zfGVufDB8fDB8fHww"
      />
      <div class="mx-3 position-relative w-50 p-4 d-flex flex-column justify-content-center">
        <h2 class="fs-2"><%= @uniqorn.name %></h2>
        <p class="fs-4">Age:
          <%= @uniqorn.age %>
        </p>
        <p class="fs-4">Color:
          <%= @uniqorn.color %>
        </p>
        <p class="fs-4">Can fly?:
          <% if @uniqorn.can_fly %>
            Yes!
          <% else %>
            No!
          <% end %>
        <p class="fs-4">Speed:
          <%= @uniqorn.speed %>
        </p>
        <% if user_signed_in? %>
        <%= link_to "Book Now!",
        new_uniqorn_booking_path(@uniqorn),
        class: "form-actions btn w-100 custom-button"%>
        <% else %>
        <%= link_to "Book Now!",
        new_user_registration_path(@devise),
        class: "form-actions btn w-100 custom-button"%>
        <% end %>
      </div>
    </div>
    <h1 class="mt-4">Reviews</h1>

    <div class="d-flex row align-items-center mt-2">

      <div class="col-sm-3">
        <div class="card border-info">
          <div class="card-header text-center">
          Anonymous
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text"><% @review = Review.last %>
            <%= @review.content %></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-success">
          <div class="card-header text-center">
            Anonymous
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text"><p class="card-text"><% @review = Review.last(2).first%>
            <%= @review.content %></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-primary">
          <div class="card-header text-center">
            Anonymous
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text"><% @review = Review.last(3).first %>
            <%= @review.content %></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-warning">
          <div class="card-header text-center">
            Anonymous
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text"><p class="card-text"><% @review = Review.last(4).first %>
            <%= @review.content %></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
