<div class="d-flex flex-column align-items-center container">

  <div class="h-50 w-75 py-3 pt-3">
    <div class="w-100 d-flex">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <%= cl_image_tag @uniqorn.photo.key, class: "show_image" %>
      </div>
      <div
        class="
          position-relative w-50 d-flex flex-column justify-content-center mx-3 p-4
        "
      >
        <h2 class="fs-2"><%= @uniqorn.name %></h2>
        <p class="fs-4">Age:
          <%= @uniqorn.age %>
        </p>
        <p class="fs-4">Color:
          <%= @uniqorn.color %>
        </p>
        <p class="fs-4">Can fly?:
          <% if @uniqorn.can_fly %>
            Yes!
          <% else %>
            No!
          <% end %>
        </p>
        <p class="fs-4">Speed:
          <%= @uniqorn.speed %>
        </p>
        <% unless @uniqorn.user == current_user %>
          <% if user_signed_in? %>
            <%= link_to "Book Now!",
            new_uniqorn_booking_path(@uniqorn),
            class: "form-actions btn w-100 custom-button" %>
          <% else %>
            <%= link_to "Book Now!",
            new_user_registration_path(@devise),
            class: "form-actions btn w-100 custom-button" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <h1 class="mt-4">Reviews</h1>

    <div class="d-flex row align-items-center mt-2">

      <% last_reviews = Review.last(4).reverse %>
<div class="d-flex row align-items-center mt-2">
  <% last_reviews.each_with_index do |review, index| %>
    <div class="col-sm-3">
      <div class="card border-<%= ['info', 'success', 'primary', 'warning'][index] %>">
        <div class="card-header text-center">
          Anonymous
        </div>
        <div class="card-body">
          <h3></h3>
          <p class="card-text"><%= review.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

    </div>

  </div>
</div>
