<div class="container d-flex flex-column align-items-center">

  <div class="pt-3 py-3 h-50 w-75">
    <div class="w-100 d-flex" style="border: solid 1px #aedbf0;">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <%= cl_image_tag @uniqorn.photo.key, class: "show_image" %>
      </div>
      <div class="mx-3 position-relative w-50 p-4 d-flex flex-column justify-content-center">
        <h2 class="fs-2"><%= @uniqorn.name %></h2>
        <p class="fs-4">Age:
          <%= @uniqorn.age %>
        </p>
        <p class="fs-4">Color:
          <%= @uniqorn.color %>
        </p>
        <p class="fs-4">Can fly?:
          <% if @uniqorn.can_fly %>
            Yes!
          <% else %>
            No!
          <% end %>
        </p>
        <p class="fs-4">Speed:
          <%= @uniqorn.speed %>
        </p>
        <%= link_to "Book Now!",
        new_uniqorn_booking_path(@uniqorn),
        class: "form-actions btn w-100 custom-button"%>
      </div>
    </div>
    <h1 class="mt-4">Reviews</h1>

    <div class="d-flex row align-items-center mt-2">

      <div class="col-sm-3">
        <div class="card border-info">
          <div class="card-header text-center">
            Review Title!
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text">Crazy lovely reviews, becuase unicorns are crazy lovely.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-success">
          <div class="card-header text-center">
            Review Title!
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text">Crazy lovely reviews, becuase unicorns are crazy lovely.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-primary">
          <div class="card-header text-center">
            Review Title!
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text">Crazy lovely reviews, becuase unicorns are crazy lovely.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-warning">
          <div class="card-header text-center">
            Review Title!
          </div>
          <div class="card-body">
            <h3></h3>
            <p class="card-text">Crazy lovely reviews, becuase unicorns are crazy lovely.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
