<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1>My Bookings</h1>
  </div>


  <div class="d-flex flex-column justify-content-center mb-5">
    <% @bookings.each do |booking| %>
      <%= link_to uniqorn_path(booking.uniqorn), class: "d-flex  justify-content-center" do %>
        <div class="card-product w-50 mb-4">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuZIvadmq4OEXE0kFfQvXE694-kCfr45OW6w&s"
          />
          <div class="d-flex justify-content-between w-100 me-3">
            <div class="card-product-infos">
              <h2><%= booking.uniqorn.name %></h2>
              <p class="fs-5 fw-semibold"><%= booking.start_date %> - <%= booking.end_date %></p>
            </div>
            <div>
              <p class="fs-5 fw-semibold"><strong class="fs-4">Total:
                </strong>99.00€</p>
              <% if booking.status == "pending" %>
                <div class="fs-3" style="color: orange;" >
                <%= booking.status %>
                </div>
              <% elsif booking.status == "rejected" %>
                <div class="fs-3" style="color:#FF9A9E;" >
                <%= booking.status %>
                </div>
                <% else booking.status == "accepted" %>
                <div class="fs-3" style="color:#39efa3;" >
                <%= booking.status %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
