<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1>My Bookings</h1>
  </div>


  <div class="d-flex flex-column justify-content-center mb-5">
    <% @bookings.each do |booking| %>
        <div class="d-flex justify-content-center align-items-center mt-4">
      <div class="d-flex w-50 justify-content-center">
        <div class="card-product w-100 ">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuZIvadmq4OEXE0kFfQvXE694-kCfr45OW6w&s"
          />
          <div class="d-flex align-items-center justify-content-between w-100 me-3">
            <div class="card-product-infos">
              <h2><%= booking.uniqorn.name %></h2>
              <p class="fs-5 fw-semibold"><%= booking.start_date %> - <%= booking.end_date %></p>
            </div>
            <div>
              <% booked_days = booking.end_date - booking.start_date  %>
              <p class="fs-5 fw-semibold"><strong class="fs-4">Total:
                </strong><%= booked_days.to_i * booking.uniqorn.price_per_day %> €</p>
              <% if booking.status == "pending" %>
                <div class="fs-3" style="color: orange;" >
                <%= booking.status %>
                </div>
              <% elsif booking.status == "rejected" %>
                <div class="fs-3" style="color:#FF9A9E;" >
                <%= booking.status %>
                </div>
                <% else booking.status == "accepted" %>
                <div class="fs-3" style="color:#39efa3;" >
                <%= booking.status %>
                </div>
                <% unless booking.review %>
      <%= link_to new_booking_review_path(booking) do %>
        <div class="fs-5 text-decoration-underline" >Leave a review!</div>
      <% end %>
      <% end %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
        </div>
    <% end %>
  </div>
</div>
