<div class="navbar sticky-top">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo_uniqorn_trans.png", alt: "Logo" %>
    <% end %>
  </div>
  <div class="right-section">
    <div class="tabs">
      <%= link_to "Book a unicorn", uniqorns_path %>
      <%= link_to "Bookings", uniqorns_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign out", uniqorns_path %>
        <div class="pt-2">
          <img
            src='https://kitt.lewagon.com/placeholder/users/arthur-littm'
            class="avatar"
          />
        </div>
      <% end %>
    </div>
  </div>
</div>
